{% extends "layout.html" %}

{% block title %}
Add expense
{% endblock %}

{% block body %}
    <div class="card">
        <form action="/add" method="POST">
            <!-- category -->
            <label for="category">Choose a category:</label>
            <select name="category" id="category">
                {% for cat in category%}
                    <option value="{{cat}}">{{cat}}</option>
                
                {% endfor %}
            </select>
            <label for="currency">Choose a currency:</label>
            <select name="currency" id="currency">
                {% for cur in currency%}
                    <option value="{{cur}}">{{cur}}</option>
                
                {% endfor %}
            </select>
            <input type="text" name="amount" placeholder="amount">
            <input type="submit">
    
        </form>
    </div>
    
      
    
   
{% endblock %}