{% extends "layout.html" %}

{% block title %}
Total
{% endblock %}
    
{% block body %}

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>category</th>
            <th>amount</th>
            <th>currency</th>
            <th>amount in usd</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        {% for d in date %}
        <tr>
            <td>{{ d [0] }}</td>
            <td>{{ d [1] }}</td>
            <td>{{ d [2] }}</td>
            <td>{{ d [3] }}</td>
            <td>{{ d [4] }}</td>
            <td>{{ d [5] }}</td>
        </tr>

        {% endfor %}

    </tbody>
    

</table> 


{% endblock %}
