{% extends "layout.html" %}

{% block title %}
Total
{% endblock %}
    
{% block body %}



<h3>Select Date</h3>
<select name="date" onchange="window.location='/day/'+this.value">
    
    {% for d in total_dates %}
        <option value="{{d[0]}}">{{d[0]}}</option>
    {% endfor %}
</select>
<br>
<hr>
<br>


<table>
    <thead>
        <tr>
            <th>id</th>
            <th>category</th>
            <th>amount</th>
            <th>currency</th>
            <th>amount in usd</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        {% for t in total %}
        <tr>
            <td>{{ t [0] }}</td>
            <td>{{ t [1] }}</td>
            <td>{{ t [2] }}</td>
            <td>{{ t [3] }}</td>
            <td>{{ t [4] }}</td>
            <td>{{ t [5] }}</td>
        </tr>

        {% endfor %}

    </tbody>
    

</table> 


{% endblock %}
